<div ng-controller="ContactCtrl" class="main-white-text">
    <div class="center-align">
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'epsi'}" ng-click="selectSchool('epsi')">EPSI</button>
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'idrac'}" ng-click="selectSchool('idrac')">IDRAC</button>
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'ifag'}" ng-click="selectSchool('ifag')">IFAG</button>
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'igefi'}" ng-click="selectSchool('igefi')">IGEFI</button>
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'open source school'}" ng-click="selectSchool('open source school')">OPEN SOURCE SCHOOL</button>
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'sup de com'}" ng-click="selectSchool('sup de com')">Grande Surface</button>
        <button class="btn waves-effect waves-light" ng-class="{'grey': schoolSelected == 'wis'}" ng-click="selectSchool('wis')">wis</button>


    <div class="col s12 schools white-text" ng-repeat="school in schools | filter: {school: schoolSelect}">
        <hr class="grey-text" ng-if="$index != 0">

        <div class="row">
            <div class="col s12">
                <h4>{{school.name}}</h4>
            </div>
            <div class="col s6">
                <p>
                    {{school.mailAddress}}
                    <br>
                    <span class="grey-text">
                    {{school.phone}}
                    </span>
                    {{school.site}}
                    <br>
                </p>
            </div>
            <div class="col s6 background-filled" style="background-image: url('img/restos/{{school.picture}}.PNG')"></div>
        </div>
    </div>

</div>