<div ng-controller="HomeCtrl" id="home" class="white-text">
    <div ng-if="mode == null">
        <h1 class="center-align">Je suis...</h1>
        <div class="row pick-mode">
            <div class="col s6">
                <div class="main-cyan z-depth-2 hoverable" ng-click="pickMode('student')">
                    <span class="halign valign">ÉTUDIANT</span>
                </div>
            </div>
            <div class="col s6">
                <div class="grey darken-3 z-depth-2 hoverable" ng-click="pickMode('visitor')">
                    <span class="halign valign grey-text">VISITEUR</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="mode != null" class="center-align">
        <h1>Bienvenue sur</h1>
        <img src="img/logo.png" width="100%" alt="Logo">
        <button class="btn waves-effect waves-light" style="margin-top: 50px" onclick="$('.tap-target').tapTarget('open');">Commencer la visite</button>
    </div>
</div>
