<div ng-controller="MapCtrl" id="maphep">

    <h3 class="titleFloor main-white-text">{{floor}}
        <span class="btn-floating btn-small waves-effect waves-light blue darken-4 menuFloor" style="z-index: 0">{{numberFloor}}</span>
    </h3>
    <div ng-if="show=='Map'">
        <div class="number-floor floor-RC">
            <img src="img/campus-hep/rdc.jpg" class="materialboxed">
        </div>
        <div class="number-floor floor-1" style="display: none">
            <img src="img/campus-hep/Couloir_iso.png" class="materialboxed">
        </div>
        <div class="number-floor floor-2" style="display: none">
            <img src="img/campus-hep/etage2.jpg" class="materialboxed">
        </div>
        <div class="number-floor floor-3" style="display: none">
            <img src="img/campus-hep/etage3.jpg" class="materialboxed">
        </div>

        <script>
            $(document).ready(function () {
                $('.materialboxed').materialbox()
            })
        </script>
    </div>

    <div class="carousel caroussel-map number-floor floor-{{key}}" ng-if="show=='Carou'" ng-repeat="(key, carouImgs) in swapCarou">
        <a class="carousel-item" ng-repeat="img in carouImgs">
            <img class="materialboxed" ng-src="img/campus-hep/{{img}}.jpg">
        </a>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $('.materialboxed').materialbox()
                }, 500)
            })
        </script>
    </div>

    <a class="waves-effect waves-light btn" style="position: fixed; bottom: 30px;" ng-click="swap('carou',0)">{{pm}}</a>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light main-cyan">
            <i class="fas fa-angle-up fa-2x"></i>
        </a>
        <ul>
            <li><a class="btn-floating blue-grey" ng-click="setNumEtage('Étage',3)"><span class="menufloor">3</span></a></li>
            <li><a class="btn-floating blue-grey" ng-click="setNumEtage('Étage',2)"><span class="menufloor">2</span></a></li>
            <li><a class="btn-floating blue-grey" ng-click="setNumEtage('Étage',1)"><span class="menufloor">1</span></a></li>
            <li><a class="btn-floating blue-grey" ng-click="setNumEtage('Rez de chaussée','RC')"><span class="menufloor">RC</span></a></li>
        </ul>
    </div>



</div>