/* MAINS */
* {outline: none!important;}

body {overflow-x: hidden;}

.main-blue {background-color: #1e2131!important;}

.main-blue-text {color: #1e2131!important;}

.main-cyan {background-color: #7ddadb!important;}

.main-cyan-text {color: #7ddadb!important;}

.main-white {background-color: #e6eafd!important;}

.main-white-text {color: #e6eafd!important;}

.smiley {width: 1.2rem; height: 1.2rem; vertical-align: middle;}

.bold {font-weight: bold!important;}

.semi-bold {font-weight: 500!important;}

.normal {font-weight: normal!important;}

.valign {
    position: absolute!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
}

.halign {
    position: absolute!important;
    left: 50%!important;
    transform: translateX(-50%)!important;
}

.valign.halign {transform: translate(-50%, -50%)!important;}

.upper {text-transform: uppercase!important;}

.capital {text-transform: capitalize!important;}

.clear {clear: both; visibility: hidden;}

.pointer {cursor: pointer!important;}

i.prefix {padding-top: 5px;}

.carousel {height: calc(100vh - 64px)!important;}

.carousel-item {overflow-y: auto; padding: 50px 25px;}

.menuFloor {
    font-family: "Calibri Light";
    font-weight: 600;
    font-size: 160%;
    color: #e6eafd !important;
}
    
.background-filled {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-mobile .material-icons {margin-right: 30px;}

#home .pick-mode .main-cyan {height: 200px; position: relative;}

#home .pick-mode .grey {height: 200px; position: relative;}

#home .pick-mode .halign.valign {font-size: 24px;}

#resto .col.s6, #parking .col.s6, #contact .col.s6 {height: 100px;}

#resto hr, #parking hr, #contact hr {
    border: 0;
    height: 2px;
    margin: 15px 0 5px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(112, 112, 112, 0.75), rgba(0, 0, 0, 0));
}

#resto .price, #parking .time {font-size: 16px;}

#resto .btn, #contact .btn {
    margin: 10px;
}

#contact img {
    width: 100%;
}

#maphep .titleFloor {
    font-family: "Calibri";
    font-weight: 600;
    font-size: 160%;
    color: #e6eafd !important;
}

#maphep {
    padding: 0px 25px;
}

#maphep .number-floor .materialboxed {width: 100%}

#maphep .carousel {margin-top: -50px!important; z-index: 999999999}

#maphep .carousel-item {padding: 0;overflow: hidden;}